#drag{
	 width: 150px; 
	height: 150px; 
	padding: 0.5em; 
	background-color: blue;
	color: white;
}
#draggable {
	 width: 180px; 
	height: 150px; 
	padding: 0.5em; 
	background-color: orange;
	color: white;
}

#droppable { 
	width: 300px; 
	height: 300px; 
	padding: 0.5em; 
	float: left; 
	margin: 10px; }

/*	selectable*/
  #feedback { font-size: 1.4em; }
  #selectable .ui-selecting { background: #FECA40; }
  #selectable .ui-selected { 
  	background: #F39814;
 	color: white; }
  #selectable { 
  	list-style-type: none;
  	 margin: 0; 
  	 padding-top: 350px;
  	  width: 60%; }
  #selectable li { 
  	margin: 3px; 
/*  	padding: 0.4em; */
  	font-size: 1.4em; 
  	height: 35px; }

/*  	sortable*/
#sortable { 
	list-style-type: none;
	 margin: 0; 
	 padding: 0; 
	 width: 60%; }
  #sortable li { 
  	margin: 0 3px 3px 3px; 
/*  	padding: 0.4em; */
  	padding-left: 1.5em; 
  	font-size: 20px; 
  	height: 30px; }
  #sortable li span {
   position: absolute; 
   margin-left: -1.3em; }

   .autoco{
   		padding-bottom: 200px;
   }
   .widget{
   	padding-top: 25px;
   }

/*   colorpicker*/
#red, #green, #blue {
    float: left;
    clear: left;
    width: 300px;
    margin: 15px;
  }
  #swatch {
    width: 120px;
    height: 100px;
    margin-top: 18px;
    margin-left: 350px;
    background-image: none;
  }
  #red .ui-slider-range { background: #ef2929; }
  #red .ui-slider-handle { border-color: #ef2929; }
  #green .ui-slider-range { background: #8ae234; }
  #green .ui-slider-handle { border-color: #8ae234; }
  #blue .ui-slider-range { background: #729fcf; }
  #blue .ui-slider-handle { border-color: #729fcf; }

  .tab{
  	padding-top: 30px;
  	padding-bottom: 200px;
  }